# Python | Pandas DataFrame

### What is Pandas?

<b>pandas</b> is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

### What is a Pandas DataFrame?

<b>Pandas DataFrame</b> is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns.

<img src="images/pandas.jpg">

A Pandas DataFrame will be created by loading the datasets from existing storage. Storage can be SQL Database, CSV file, and Excel file. 
Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc.

Dataframe can be created in different ways here are some ways by which we create a dataframe:

### Creating a dataframe using List:

In [ ]:
# import pandas as pd
import pandas as pd
 
# list of strings
lyst = ['CSC', '102', 'is', 'the', 'best', 'course', 'ever']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lyst)

# Print the output.
df

        0
0     CSC
1     102
2      is
3     the
4    best
5  course
6    ever

### Creating a dataframe using dict of narray/lists:

In [6]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Angela', 'Precious', 'Luis', 'Ade'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
df

       Name  Age
0    Angela   20
1  Precious   21
2      Luis   19
3       Ade   18

### Column Selection:

In [7]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Clem', 'Prince', 'Edward', 'Adele'],
        'Age':[27, 24, 22, 32],
        'Address':['Abuja', 'Kano', 'Minna', 'Lagos'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
df[['Name', 'Qualification']]

     Name Qualification
0    Clem           Msc
1  Prince            MA
2  Edward           MCA
3   Adele           Phd

### Row Selection:
Pandas provide a unique method to retrieve rows from a Data frame.<br>
<i><font color="green">DataFrame.iloc[]</font></i> method is used to retrieve rows from Pandas DataFrame.<br>

In [9]:
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Oyin', 'Mary', 'David', 'Bola'],
        'Age':[27, 24, 22, 32],
        'Address':['Asaba', 'Maiduguri', 'Onitsha', 'Kwara'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select first row
df.iloc[0]

Name              Oyin
Age                 27
Address          Asaba
Qualification      Msc
Name: 0, dtype: object

### Read from a file:

In [14]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

# print excel
data

   Unnamed: 0     name  degree  score
0           0     Abel     MBA     90
1           1    Kamsi     BCA     40
2           2    Oyode  M.Tech     80
3           3  Chinelo     MBA     98

### Select first row from file

In [15]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

df=data.iloc[0]

# print excel
df

Unnamed: 0       0
name          Abel
degree         MBA
score           90
Name: 0, dtype: object

### Selecting Row with Title Header

In [2]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("employee_records.csv")

df=data.head(1)

# print excel
df

   Unnamed: 0  name degree  score
0           0  Abel    MBA     90

### Looping over rows and columns
A loop is a general term for taking each item of something, one after another.<br> Pandas DataFrame consists of rows and columns so, in order to loop over dataframe, we have to iterate a dataframe like a dictionary.<br><br>
In order to iterate over rows, we can use two functions <i><font color="green">iteritems(), iterrows() </font></i>. These two functions will help in iteration over rows.

In [4]:
# importing pandas as pd
import pandas as pd
  
# dictionary of lists
dict = {'name':["Abdul", "Chukwuemeka", "Seyi", "Matt"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
 
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

0 name      Abdul
degree      MBA
score        90
Name: 0, dtype: object

1 name      Chukwuemeka
degree            BCA
score              40
Name: 1, dtype: object

2 name        Seyi
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Matt
degree     MBA
score       98
Name: 3, dtype: object

### Looping over Columns :
In order to loop over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns.

In [18]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
dict = {'name':["Bello", "Kamara", "Ugochi", "David"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)

# creating a list of dataframe columns
columns = list(df)
 
for i in columns:
 
    # printing the third element of the column
    print (df[i][2])

Ugochi
M.Tech
80

### Saving a DataFrame as CSV file

In [19]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
records = {'name':["Abel", "Kamsi", "Oyode", "Chinelo"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(records)

# saving the dataframe
df.to_csv('record.csv')

## Class Project I

####  Go to www.kaggle.com

Kaggle allows users to find and publish data sets, explore and build models in a web-based data-science environment, work with other data scientists and machine learning engineers, and enter competitions to solve data science challenges.

#### Download the following dataset:
1. Top Apps in Google Play
2. Cryptocurrency Predict Artificial Intelligence V3
3. Programming Languages Trend Over Time

#### Clue
You can signin with either Google, facebook or Linkedin account

#### Task
Display the first 7 rows of each dataset<br>
Select the first 3 colums of each dataset<br>
Display only one row and header of each dataset

In [21]:
# Number 1a
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Top_Apps_In_Google_Play.csv", encoding="latin1")

df=data.head(8)

# print excel
df

,Unnamed: 0,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False
1,2,YouTube,com.google.android.youtube,Video Players & Editors,Google LLC,https://support.google.com/youtube/topic/24225...,ytandroid-support@google.com,Teen,True,False
2,3,Google,com.google.android.googlequicksearchbox,Tools,Google LLC,https://www.google.com/search/about/,apps-help@google.com,Everyone,True,False
3,4,Google Maps - Navigate & Explore,com.google.android.apps.maps,Travel & Local,Google LLC,http://maps.google.com/about/,apps-help@google.com,Everyone,True,False
4,5,Google Text-to-Speech,com.google.android.tts,Tools,Google LLC,http://www.google.com/,tts-feedback@google.com,Everyone,False,False
5,6,Google Chrome: Fast & Secure,com.android.chrome,Communication,Google LLC,http://www.google.com/chrome/android,apps-help@google.com,Everyone,False,False
6,7,Gmail,com.google.android.gm,Communication,Google LLC,http://support.google.com/mail/bin/topic.py?hl...,apps-help@google.com,Everyone,True,False
7,8,Android Accessibility Suite,com.google.android.marvin.talkback,Tools,Google LLC,https://developer.android.com/guide/topics/ui/...,apps-help@google.com,Everyone,False,False

In [ ]:
#Number 1b
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("BTC_DATA_V3.0.csv", encoding="latin1")

crypto=data.head(8)

# print excel
crypto

        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%
1  24-Mar-22  44013.0  42911.0  44251.0  42658.0  491.66M    2.57%
2  23-Mar-22  42912.0  42373.0  43027.0  41795.0  433.96M    1.27%
3  22-Mar-22  42373.0  41022.0  43327.9  40893.0  537.06M    3.29%
4  21-Mar-22  41022.0  41282.0  41532.0  40530.0  406.62M   -0.62%
5  20-Mar-22  41276.0  42241.0  42301.0  40922.0  308.45M   -2.27%
6  19-Mar-22  42233.0  41768.0  42386.0  41529.6  224.59M    1.11%
7  18-Mar-22  41767.8  40914.6  42308.4  40234.8    2.31B    2.08%

In [32]:
#Numper 1c
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("programming language trend over time.csv", encoding="latin1")

Program=data.head(8)

# print excel
Program

        Week  Python  Java  C++
0  4/21/2019      55    55   18
1  4/28/2019      52    50   16
2   5/5/2019      56    56   17
3  5/12/2019      56    61   18
4  5/19/2019      57    56   17
5  5/26/2019      55    57   17
6   6/2/2019      54    58   15
7   6/9/2019      58    55   16

In [ ]:
#Number 2a
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Top_Apps_In_Google_Play.csv", encoding="latin1")

columns = list(data)


for i in columns[:3]:
    print(data[i])

0      1
1      2
2      3
3      4
4      5
      ..
65    66
66    67
67    68
68    69
69    70
Name: Unnamed: 0, Length: 70, dtype: int64
0                                  Google Play services
1                                               YouTube
2                                                Google
3                      Google Maps - Navigate & Explore
4                                 Google Text-to-Speech
                            ...
65                                                Clock
66    Spotify: Listen to podcasts & find music you love
67                                     Google Translate
68                                        Samsung Notes
69                                           Calculator
Name: App Name, Length: 70, dtype: object
0                      com.google.android.gms
1                  com.google.android.youtube
2     com.google.android.googlequicksearchbox
3                com.google.android.apps.maps
4                      com.google.android.tts
                       ...
65               com.google.android.deskclock
66                          com.spotify.music
67          com.google.android.apps.translate
68              com.samsung.android.app.notes
69              com.google.android.calculator
Name: App Id, Length: 70, dtype: object

In [22]:
# Number 2b
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("BTC_DATA_V3.0.csv", encoding="latin1")

columns = list(data)


for i in columns[:3]:
    print(data[i])

0       25-Mar-22
1       24-Mar-22
2       23-Mar-22
3       22-Mar-22
4       21-Mar-22
          ...
1484     2-Mar-18
1485     1-Mar-18
1486    28-Feb-18
1487    27-Feb-18
1488    26-Feb-18
Name: Date, Length: 1489, dtype: object
0       44331.0
1       44013.0
2       42912.0
3       42373.0
4       41022.0
         ...
1484    10827.7
1485    10904.5
1486    10333.9
1487    10594.4
1488    10285.1
Name: Price, Length: 1489, dtype: float64
0       44013.0
1       42911.0
2       42373.0
3       41022.0
4       41282.0
         ...
1484    10904.5
1485    10335.1
1486    10584.4
1487    10287.8
1488     9590.9
Name: Open, Length: 1489, dtype: float64

In [23]:
#Number 2c
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("programming language trend over time.csv", encoding="latin1")

columns = list(data)


for i in columns[:3]:
    print(data[i])

0      4/21/2019
1      4/28/2019
2       5/5/2019
3      5/12/2019
4      5/19/2019
         ...
257    3/24/2024
258    3/31/2024
259     4/7/2024
260    4/14/2024
261    4/21/2024
Name: Week, Length: 262, dtype: object
0      55
1      52
2      56
3      56
4      57
       ..
257    79
258    81
259    77
260    78
261    71
Name: Python, Length: 262, dtype: int64
0      55
1      50
2      56
3      61
4      56
       ..
257    47
258    51
259    45
260    48
261    42
Name: Java, Length: 262, dtype: int64

In [26]:
# Number 3a
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Top_Apps_In_Google_Play.csv", encoding="latin1")

df=data.head(1)

# print excel
df

,Unnamed: 0,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False

In [25]:
# Number 3b
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("Top_Apps_In_Google_Play.csv", encoding="latin1")

df=data.head(1)

# print excel
df

,Unnamed: 0,App Name,App Id,Category,Developer Id,Developer Website,Developer Email,Content Rating,Ad Supported,In App Purchases
0,1,Google Play services,com.google.android.gms,Tools,Google LLC,https://developers.google.com/android/google-p...,apps-help@google.com,Everyone,False,False

In [ ]:
# Number 3c
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("programming language trend over time.csv", encoding="latin1")

df=data.head(1)

# print excel
df

        Week  Python  Java  C++
0  4/21/2019      55    55   18

## Class Project II

<b>Cadbury Nigeria Plc</b> manufactures and sells branded fast moving consumer goods to the Nigerian market and exports in West Africa. The Company produces intermediate products, such as cocoa butter, liquor, cake and powder. It exports cocoa butter, cake and liquor to international customers, and cocoa powder locally. It operates through three segments: Refreshment Beverages, Confectionery and Intermediate Cocoa Products. The Refreshment Beverages segment includes the manufacture and sale of Bournvita and Hot Chocolate. The Confectionery segment includes the manufacture and sale of Tom Tom and Buttermint. The Intermediate Cocoa Products segment includes the manufacture and sale of cocoa powder, cocoa butter, cocoa liquor and cocoa cake. The Refreshment Beverages' brands include CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCOLATE. The Confectionery's brands include TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT. The Intermediate Cocoa Products' brands include COCOA POWDER and COCOA BUTTER.

You have been employed as an expert python developer to create a program to document the consumption categories of their products and brands. Using your knowledge of Pandas DataFrames develop the program that saves the list of products (export, segments and brands) in a .csv excel file.<br><br>
Hint: save the filename as <font color="green"><i>cadbury_market.csv</i></font>.

In [29]:
# importing pandas as pd
import pandas as pd
   
# dictionary of lists
cadbury = {'Products':['Bournvita', 'Hot Chocolate', 'Tomtom', 'Tomtom', 'Buttermint', 'Cocoa Powder', 'Cocoa Butter', 'Cocoa Liquor', 'Cocoa Cake' ],
           'Segments':['Refreshment Beverages', 'Refreshment Beverages','Confectionery', 'Confectionery', 'Confectionery', 'Intermediate Cocoa Product', 'Intermediate Cocoa Product', 'Intermediate Cocoa Product', 'Intermediate Cocoa Product'],
        'Brands':['CADBURY BOURNVITA', 'CADBURY 3-in-1 HOT CHOCOLATE', 'TOMTOM CLASSIC', 'TOMTOM STRAWBERRY', 'BUTTERMINT', 'COCOA POWDER', 'COCOA BUTTER', 'COCOA POWDER', 'COCOA BUTTER'],
        'Export':['Local', 'Local', 'Local', 'Local', 'Local', 'Export', 'Export', 'Export', 'Export']}
  
# creating a dataframe from a dictionary 
df = pd.DataFrame(cadbury)

# saving the dataframe
df.to_csv('cadbury_market.csv', index = False)

print("Data successfully saved to 'cadbury_market.csv'")

Data successfully saved to 'cadbury_market.csv'